* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-size: 450px;
    background-color: #4EA0FF;
    height: 150px;
}

.header-logo-container {
    margin: 0 0 20px 150px;
    height: 100%;
}

#header-logo-img {
    height: 65px;
    margin-top: 70px;
}


main, footer {
    margin: 20px 150px 20px;
}

.article-title {
    font-size: 50px;
}

.article-info {
    color: #808080;
    font-size: 20px;
}

.author-link {
    color: #1FA9E5;
    text-decoration: none;
}

.article-date {
    display: block;
    font-style: normal;
}

section {
    margin: 0 0 30px;
}

.img-credit {
    list-style-type: none;
    padding: 0;
}

.highlighted-text {
    background-color: #F1F100;
}

table {
    text-align: left;
    border-collapse: collapse;
}

.table-col-wide {
    width: 50%;
}

thead {
    background-color: #1FA9E5;
    color: white;
}

.table-row-blue {
    background-color: #B1E4F2;
}

.related-title {
    color: #818181;
    font-size: 17px;
}

.suggested-video-container {
    height: 150px;
    width: 200px;
    background-size: cover;
    padding: 5px;
    margin: 10px 0;
}

#video-1 {
    background-image: url(../img/monitor.jpg);
}

#video-2 {
    background-image: url(../img/graph.jpg);
}

.video-title {
    color: white;
    margin: 5px 0 0 5px;
    display: block;
}